<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["000-layers.css"]" />
    <link rel="stylesheet" href="@Assets["00-generic.css"]" />
    <link rel="stylesheet" href="@Assets["01-typography.css"]" />
    <link rel="stylesheet" href="@Assets["02-tables.css"]" />
    <link rel="stylesheet" href="@Assets["03-forms.css"]" />
    <link rel="stylesheet" href="@Assets["10-layout.css"]" />
    <link rel="stylesheet" href="@Assets["11-nav.css"]" />
    <link rel="stylesheet" href="@Assets["12-footer.css"]" />
    <link rel="stylesheet" href="@Assets["90-animations.css"]" />
    <link rel="stylesheet" href="@Assets["30-congress.css"]" />

    <link rel="stylesheet" href="@Assets["Blackbird.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
